In [1]:
from utils.retrieve import get_results

sgd_amount = [500, 1000, 1500, 2000, 3000, 5000]

df = get_results(sgd_amount)
df

                  converter      rate  sgd_amount             utc_time
0                MASTERCARD  3.334906         500  2025-06-27 18:12:29
1   WISE_FROM_BANK_TRANSFER  3.345260         500  2025-06-27 18:12:29
2         WISE_FROM_BALANCE  3.341080         500  2025-06-27 18:12:29
3                MASTERCARD  3.334906        1000  2025-06-27 18:12:29
4   WISE_FROM_BANK_TRANSFER  3.338100        1000  2025-06-27 18:12:29
5         WISE_FROM_BALANCE  3.336020        1000  2025-06-27 18:12:29
6                MASTERCARD  3.334906        1500  2025-06-27 18:12:29
7   WISE_FROM_BANK_TRANSFER  3.335733        1500  2025-06-27 18:12:29
8         WISE_FROM_BALANCE  3.334340        1500  2025-06-27 18:12:29
9                MASTERCARD  3.334906        2000  2025-06-27 18:12:29
10  WISE_FROM_BANK_TRANSFER  3.334535        2000  2025-06-27 18:12:29
11        WISE_FROM_BALANCE  3.333490        2000  2025-06-27 18:12:29
12               MASTERCARD  3.334906        3000  2025-06-27 18:12:29
13  WISE_FROM_BANK_TRANSFER  3.333340        3000  2025-06-27 18:12:29
14        WISE_FROM_BALANCE  3.332643        3000  2025-06-27 18:12:29
15               MASTERCARD  3.334906        5000  2025-06-27 18:12:29
16  WISE_FROM_BANK_TRANSFER  3.332390        5000  2025-06-27 18:12:29
17        WISE_FROM_BALANCE  3.331972        5000  2025-06-27 18:12:29

# Store data

In [2]:
from os import path
outputpath = '../data/rates.csv'

if path.exists(outputpath):
    df.to_csv(outputpath, mode='a', header=False, index=False)
    print('Appended!')
else:
    df.to_csv(outputpath, mode='w', header=True, index=False)
    print('Saved to new file!')

Saved to new file!